#content {
  max-width: 900px;
  margin: 0 auto;
}

#infoArea {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.user-info,
.game-info {
  padding: 15px;
  border: 2px dashed red;
}

.user-info {
  width: 400px;
}

.game-info {
  width: 300px;
}

#gameArea {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.game-btn {
  display: flex;
  gap: 20px;
}
.game-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

#managerArea {
  display: flex;
  flex-direction: column;
  border-top: 2px solid red;
  margin-top: 50px;
}

input {
  width: 300px;
  height: 25px;
}

button {
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
